{% extends "base.html" %}
{% block title %}MV{% endblock title %}
{% block content %}

        <div class="container col-11 col-md-7 mx-auto">
            <h2 class="text-center mb-3">{{ postsindb.title }}</h2>
            <!--<p>Artist: {{ postsindb.artist }}</p>-->
            <div class="rounded-4 overflow-hidden text-center w-auto" style="height: 500px;">
                <img src="{{ postsindb.image.url }}" alt="Image" class="rounded-4 w-100 img-fluid object-fit-cover h-100">
            </div>
            <p class="fs-3 mt-3">{{ postsindb.full_description }}</p>
            <p>views : {{postsindb.viewer}}</p>
            <audio controls class="w-100" >
                <source src="{{ postsindb.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a href="{{ postsindb.audio_file.url }}" class="btn btn-outline-warning w-100 my-3">download</a>
        </div>
        <ul class="list-group col-11 col-md-7 mx-auto px-4 overflow-auto bg-dark-subtle comments">
            {% for i in postsindb.comments.all %}
            <li class="d-flex flex-column list-group-item-light mt-3">
                <h4>{{i.writer}} :</h4>
                <div class="d-flex justify-content-between" style="word-wrap: break-word;">
                    <p style="max-width: 60%;" >{{i.comment_text}}</p>
                    <p>{{i.created_at}}</p>
                </div>
            </li>
            <hr class="m-0">
            {% endfor %}
            
        </ul>
        <!-- <p>Comment by {{i.writer}} <br>{{i.comment_text}}</p>
        <p>At {{i.created_at}}</p> -->
        <h2 class="text-center mt-3 mb-2">Add a Comment</h2>
    <form method="post" class="border border-primary col-11 col-md-8 rounded-5 p-4 mx-auto mb-4">
        {% csrf_token %}
        <div class="form-floating my-3">
            <input id="writer" name="writer" type="text" class="w-100 form-control border-primary" style="outline: none; background-color: black;" placeholder="enter your name">
            <label for="writer">name</label>
        </div>
        <div class="form-floating my-3">
            <textarea id="Comment" name="comment_text" class="w-100 form-control border-primary" style="outline: none; background-color: black;" placeholder="enter you comment"></textarea>
            <label for="Comment">your Comment</label>
        </div>
        <input type="hidden" name="article" value="{{ postsindb.id }}">
        <button type="submit" class="btn btn-outline-primary w-100 mt-3">Submit</button>
    </form>
{% endblock content %}
